body {
    background-color: royalblue;
    text-align: center;
}

#div1 {
    background-color: grey;
    margin-top: 100px;
    margin-left: 450px;
    border-radius: 50px;
    padding: 15px;
}

#div2 {
    background-color: grey;
    margin-top: 150px;
    margin-left: 450px;
    border-radius: 50px;
    padding: 15px;
}

input {
    padding-left: 10px;
    padding-right: 60px;
    border-radius: 25px;
}

button {
    background-color: lightgreen;
    margin-top: 50px;
    margin-left: 150px;
    border-radius: 50px;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 100px;
    padding-left: 100px;
}

#sendButton {
    margin-top: 50px;
    margin-left: 5px;
    border-radius: 50px;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    padding-left: 100px;
}

#output {
    background: white;
    border-radius: 10px;
    border-top: 10px solid #A7E731;
    border-bottom: 10px solid #A7E731;
    border-left: 10px solid #40C0EB;
    border-right: 10px solid #40C0EB;
    padding: 10px;
    float: none;
    text-align: left;
}